.positionwriting-container {
  width: 100%;
  min-height: calc(100vh - 40px); 
  margin: 20px auto;
  font-family: 'Domine', sans-serif;
  background-color: #FAF9F6;
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.positionwriting-container h3 {
  margin-bottom: 20px;
}

.textInput {
  margin-bottom: 20px;
}

.textInput p {
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Domine', sans-serif;
}

.textbox {
  width: 100%;
  height: 150px;
  border: 1.5px solid #333;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Tags box */
/* .tags-container {
  border: 1.5px solid #333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: #ffffff00;
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.tag span {
  font-weight: bold;
  cursor: pointer;
} */

/* Buttons */
.button-container {
  display: flex;
  gap: 12px;
}

.cancel-btn,
.post-btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1.5px solid #333;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-btn {
  background-color: #fff;
}

.post-btn {
  background-color: #3f5e5a;
  color: white;
  border: none;
}
