:root {
    --primary-background: #FAF9F6;
    --secondary-green: #3F5E5A;
    --main-text: #2D2D2A;
    --accent-text: #38423B;
    --darker-green: #353831;
    --white: #ffffff;
    --main-font: 'Domine', serif;
  }