@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
    --primary-background: #FAF9F6;
    --secondary-green: #3F5E5A;
    --main-text: #2D2D2A;
    --accent-text: #38423B;
    --darker-green: #2c2e28;
    --white: #ffffff;
    --text-white: #F8F6F0;
    --main-font: 'Domine', serif;
  }