.jobs-filter-section{
    width: 100%;
    height: fit-content;
    padding: 1.5em;
    box-sizing: border-box;
}
.filter-card-left{
    width: 40%;
    background-color: bisque;
}
.filter-card{
    padding: 1em;
}
.filter-card-header > div{
    width: fit-content;
    font-size: 1.2em;
}
.filter-icon{
    margin-right: 0.5em;
}
.select-wrap{
    margin: 0.5em 0;
    width: 100%;
}
.select-wrap > select{
    width: 100%;
    padding: 0.5em;
}