
.navbar {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  img {
      width: 200px;
      height: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
      float: left;
      text-align: center;
      color: black;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
  }

  .account-btns {
    gap: 10px;
    display: flex;
}

.signup-btn, .login-btn {
    border-radius: 25px;
    padding: 12px 22px;
    background-color: #BAD8E0;
    color: black;
}