.wizard { 
    background:#fff; 
    padding:16px; 
    height: fit-content;
    min-height: 92vh;
    box-sizing: border-box;
    background-size: 10px 10px;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #ffd5b680, #ffd5b680 50%, #ffc29680 50%);
    display: flex;
    flex-direction: column;
}